Intermediate/
Binaries/
Saved/
thirdPerson.xcworkspace
DerivedDataCache/
.vs/
thirdPerson.sln
Tag_Manager/db/
Tag_Manager/qt/DBManager/build-DBManager-Desktop_Qt_6_3_0_MinGW_64_bit-Debug/
Tag_Manager/qt/DBManager/DBManager/DBManager.pro.user
Plugins/tets/Binaries/
Plugins/tets/Intermediate/
Plugins/CustomFilterPlugin/Binaries/
Plugins/CustomFilterPlugin/Intermediate/
Plugins/.vscode
Plugins/FoliageGenerator/Binaries/
Plugins/FoliageGenerator/Intermediate/

.DS_Store
Plugins/.DS_Store
Source/.DS_Store
Content/MyGame/.DS_Store
Content/MyGame/Art/.DS_Store
Content/.DS_Store


Content/MyGame/Art/Tropical_Jungle_Pack/Maps/
Content/MyGame/Art/RedDesertPack/Maps/
Content/MyGame/Art/SGGameAssets/

