Intermediate/
Binaries/
Saved/
thirdPerson.xcworkspace
DerivedDataCache/
.vs/
thirdPerson.sln
Tag_Manager/qt/DBManager/build-DBManager-Desktop_Qt_6_3_0_MinGW_64_bit-Debug/
Plugins/tets/Binaries/
Plugins/tets/Intermediate/
Plugins/CustomFilterPlugin/Binaries/
Plugins/CustomFilterPlugin//Intermediate/
Build/
.DS_Store
Plugins/.DS_Store