PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE [Plant](

  [ID] INTEGER PRIMARY KEY AUTOINCREMENT, 

  [NAME] VARCHAR(100) NOT NULL UNIQUE, 

  [HIERARCHY] INTEGER NOT NULL);
CREATE TABLE [NumberTag](

  [ID] INTEGER PRIMARY KEY, 

  [KEY] VARCHAR(255) NOT NULL, 

  [VALUE] FLOAT NOT NULL, 

  [PLANTID] INTEGER REFERENCES [Plant]([ID]) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE [StringTag](

  [ID] INTEGER PRIMARY KEY, 

  [KEY] VARCHAR(255) NOT NULL, 

  [VALUE] VARCHAR(255) NOT NULL, 

  [PLANTID] INTEGER REFERENCES [Plant]([ID]) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE [ProjectDir](

  [ID] INT PRIMARY KEY, 

  [DIR] VARCHAR(255));
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Plant',0);
CREATE INDEX [FINDBYNAME] ON [Plant]([NAME]);
CREATE INDEX [FINDBYHIERARCHY] ON [Plant]([HIERARCHY]);
CREATE INDEX [FINDNUMTAG]

ON [NumberTag](

  [KEY], 

  [VALUE]);
CREATE INDEX [FINDSTRTAG]

ON [StringTag](

  [KEY], 

  [VALUE]);
COMMIT;
